#simple-search{
    width: 350px;
}
#card-shows{
    background:rgb(216, 215, 215);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#card-shows:hover{
    transform: scale(1.05);
    z-index: 1;
    transition: 0.5s ;
    border: 2px solid green;
}

#form-date{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#form-date label{
    margin: 15px;
}
#main {
    margin-top: -37%;
}